* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, #2bc57d, #25e78d);
}

header {
  align-items: center;
  color: white;
  background: linear-gradient(to right, #2bc57d, #25e78d);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0px;
  box-shadow: 0 5px 10px rgba(5, 117, 61, 0.2);
}

header .account-options button {
  padding: 10px 10px;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  background: transparent;
  border: 0;
  font-size: 1.2em;
}

header .account-options button:hover {
  background-color: white;
  border-radius: 2em;
  cursor: pointer;
  color: #25e78d;
  transition: all .8s ease;
}

header .account-options button.active {
  background-color: white;
  border-radius: 2em;
  cursor: pointer;
  color: darkgreen;
  transform: scale(1.2);
  transition: all .8s ease;
}
.account-options button i {
  display: none;
}
.account-options button i.active {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80%;
  background-color: #4DE7A1;
  /* padding: 20px 25px; */
  /* max-width: 150em; */
  /* width:90%; */
  justify-content: center;
  /* margin: 1em 3em; */
  align-items: center;
  /*flex-end para final*/

}

#account-menu {
  position: absolute;
  top: 10vh;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.767);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 12px;
  display: none;
  font-size: 2em;
  color:darkgreen;
   z-index: 2;
   transition: all .5s ease;
}
#account-menu.active{
  display: block;
}

#account-menu .modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0
}

.row-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.1em;
  width: 100%;
  padding: 0.5em;
}
#account-menu label{

  width: 100%;
  display: flex;
  align-items:center;
  justify-content: flex-start;
}
#account-menu label .fa-solid{
  margin: 0 0.5em;
}

#account-menu label:hover{
  text-decoration: underline;
  cursor: pointer;
}
#account-menu i:hover{
  text-decoration: none;
  cursor: pointer;
}

.container .ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.1em;

}

.container .li {
  padding: 15px 8px;
  border-radius: 2em;
  list-style: none;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
  display: inline-block;
  border-radius: 2em;
}

.container .li:hover {
  border-radius: 2em;
  padding: 15px 8px;
  color: #027541;
  box-shadow: 0 5px 10px rgba(5, 117, 61, 0.3);
  background-color: white;
  cursor: pointer;
}

.container .li.activo {
  background-color: white;
  padding: 25px 25px;
  cursor: pointer;
  color: #027541;
  /* border-radius: 5px; */
  box-shadow: 0 5px 10px rgba(5, 117, 61, 0.3); 
  margin: 0;
  transform: scale(1.5);
}

.container .subcontainer {
  width: 100%;
  /* padding: 1em; */
}

.container .bloque {
  display: none;
  /* background-color: lightseagreen; */
  /* padding: 0.5em; */
  transition: all .5s ease;
}

.bloque.activo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75vh;
}

.menu {
  display: flex;
  background: linear-gradient(to right, #2bc57d, #25e78d);
  min-height: 5vh;
  box-shadow: 0 5px 10px rgba(5, 117, 61, 0.7);
  color: white;
}

.li label {
  margin-left: 1em;
  cursor: pointer;
}

/* Estilos para el contenedor principal */
.digitinput{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(2, 78, 2, 0.692);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 2em;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la pantalla de la calculadora */
#display, #display2{
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  font-size: 36px;
  text-align: right;
  background-color: rgb(232, 246, 248);
  border-radius: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  box-sizing: border-box;
  border:none;
  color:darkgreen;
}

/* Estilos para los botones */
.keypad button {
  width: 20%;
  height: 2em;
  font-size: 24px;
  background-color:white;
  border: none;
  outline: none;
  border-radius: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  color:darkgreen;
}

/* Estilos para los botones de borrado */
.keypad button.delete {
  background-color: darkgreen;
  color:white;
}

/* Estilos para los botones de reset */
.keypad button.reset {
  background-color: darkgreen;
  color:white;
}

.keypad button.actionbutton {
  background-color: greenyellow;
  color:darkgreen;
  width: 5em;
  padding: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

/* Estilos para los botones al pasar el mouse */
.keypad button.digit:hover {
  background-color: darkgreen;
  color: #fff;
  transform: scale(1.05);
}
.keypad button:hover {
  transform: scale(1.05);
  color:darkgreen;
  background-color: white;
}

.digitinput dialog{
    background:white;
    border:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 1em;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-family: sans-serif;
    font-size: large;
    border-radius: 1em;
    overflow:hidden;
    position: fixed;
    top: 0;
    left:0;
    margin: auto;
}

.digitinput dialog .fa-circle-xmark{
    display: flex;
    color:red;
    justify-content: flex-end;
    padding: 0;
    cursor:pointer;
    margin-top: 5px;
}
.digitinput dialog h2{
    padding-top: 2em;
    padding-bottom: 1em;
}

#no-error,#error,#no-error2,#error2{
    display: none;
}

#no-error.active,#no-error2.active{
  display: flex;
  color:lightgreen;
  justify-content: center;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
#error.active,#error2.active{
  display: flex;
  color:red;
  justify-content: center;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.inicio {
  /* background-color: #25e78d; */
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	/* margin: 8em auto; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bienvenida h2{
  /* background-color: #027541; */
  /* margin: 1em; */
  color: darkgreen;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.2em;
  min-width: 600px;
}

/*Inicio*/
.inicio {
  /* background-color: lightskyblue; */
	width: 100%;
	/* max-width: 1000px; */
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.inicio .bienvenida{
  /* background-color: darkgreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* margin: 2em; */
  padding: 1em 3em;
  font-size:60px;
  
}

.bienvenida .column{
  /* background-color: aqua; */
  padding: 0.1em;
  margin:0.1em;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.inicio .instrucciones{
  background-color: rgba(245, 245, 245, 0.432);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 2em;
  padding: 0.5em;
  color: darkgreen;
  font-size: 42px;
  border-radius: 32px;
}

.instrucciones i{
  margin-left: 0.5em;
}


/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
	width: 100%;
	max-width: 700px;
	position: relative;
	color: black;
	transition: .8s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
  /* background-color: blanchedalmond; */
  margin:2em;
  padding: 1em;
  z-index: 1;
}

.tarjeta:hover {
	transform: scale(1.05);
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px 30px;
	border-radius: 15px;
  /* min-height: 400px; */
	max-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
	width: 100%;
	background-color: greenyellow;
}

.tarjeta .row{
  /* background-color: lightblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
}
.delantera .logo-marca {
	text-align: right;
	min-height: 60px;
	margin-bottom: 2em;/*para centrar el chip*/
}

.row label{
font-size: 2.5em;
color:darkgreen;
font-style: italic;
font-weight: 600;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 100px;
}

.delantera .chip {
	width: 100%;
	max-width: 80px;
}

.delantera .label {
	font-size: 1.5em;
	color: #7d8994;
}

#numero,
#nombre,
.expiracion {
	color: green;
	font-size: 2em;
	text-transform: uppercase;
}


/* ---------- Tarjeta Trasera ----------*/
.tarjeta .trasera {
	background-color: lightslategray;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
  width: 100%;
  padding: 5em 0;
  max-width: 670px;
  margin-top: 1em;
}

.trasera .barra-magnetica {
	height: 80px;
	background: #000;
	width: 100%;
	/* position: absolute; */
	top: 60px;
	left: 0;
}

.trasera .SecurityCode {
	/* background-color: #2bc57d; */
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 7em;
  margin-right: 3em;
}


.trasera .SecurityCode p {
/* background-color: blueviolet; */
padding: 1em 2em;
font-size: 1.5em;
}

.trasera #ccv{
	background: #fff;
	height: 50px;
	color: #000;
	padding: 0 2em;
	text-align: center;
  display: flex;
  align-items: center;
}

.cards{
  /* background-color: aqua; */
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardscolumn{
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
}

/*Check Balance Option*/
.checkbalance{
  /* background-color: white; */
  padding:1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  height: 68vh;
}
.checkbalance .fa-sack-dollar{
  color:darkgreen;
  font-size: 150px;
  margin-bottom: 1em;
}

.checkbalance .title{
  color:darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #000; */
  padding: 1em;
}
.accountdetails{
  background-color: rgba(245, 245, 245, 0.432);
  padding:0.5em ;
  margin-bottom: 1em;
  display: flex;
  border-radius: 18px;
  min-width:650px;
  align-items: center;
  justify-content: flex-end;
  color:darkgreen;
  /* box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3); */
}
.balance{
  background-color: rgba(2, 78, 2, 0.692);
  padding:2em 0;
  color:white;
  font-size: 50px;
  font-weight: 600;
  min-width:650px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);

}.history{
  background-color: darkgreen;
  padding:1.5em 0;
  margin-top:1em;
  min-width:650px;
  border-radius: 18px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color:white;
}
.history .fa-clock-rotate-left{
  margin: 0.3em;
}

.history ul{
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 0.5em;
  justify-content: center;
  padding: 1em;
}
.history ul li{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 0.5em;
  justify-content: flex-start;
  padding: 0.5em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  header {
    background-color: blueviolet;
    margin: 0;
    padding: 50px 50px;
    box-shadow: 0 5px 10px rgba(5, 117, 61, 0.2);
    font-size: 36px;
  }

  .menu{
    height:150px;
    font-size: 30px;
  }
  .menu label{
    display: none;
  }
  
.bloque.activo {
  min-height: 82vh;
 }
 .digitinput{
  padding: 50px 50px;
}
.keypad button {
  width: 3em;
  height: 3em;
  font-size: 60px;
  margin: 40px;

}
#display, #display2 {
  height: 150px;
  font-size: 60px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  header{
    color: red;
    margin: 0;
    padding: 10px 50px;
    box-shadow: 0 5px 10px rgba(5, 117, 61, 0.2);
    font-size: 18px;
  } 
   .digitinput{
    padding: 10px 10px;
    margin: 0;
  }
  .keypad button {
    width: 5em;
    height: 4em;
    font-size: 12px;
    margin: 10px;
  
  }
  #display, #display2 {
    height: 4em;
    font-size: 12px;
  }

  .subcontainer{
    margin: 0;
    padding: 0;
    min-height: 500px;
  }
  .menu{
    margin-top: 0px;
    height:60px;
    font-size: 12px;
  }
  
  .container .li.activo {
    padding: 10px 5px;
    transform: scale(1.5);
  }
.inicio {
  /* background-color: lightskyblue; */
	padding: 0px; 
  flex-direction: row;
  justify-content: space-around;


}

.inicio .bienvenida{
  padding: 0;
  width: 7em;
}

.bienvenida h2 {
  font-size: 60px;
  min-width: 6.5em;
}
.inicio .instrucciones{
  display: none;
}

div.cards{
min-width: auto;
padding: 0;
margin: 0;
}

.inicio .instrucciones h5{
/* background-color: black; */
width: 150px;
}
.tarjeta {
	max-width: 1200px;
  min-width: 400px;
  margin:0 2em;
}
.tarjeta .row{
  margin: 5px;
}
.row label{
font-size: 1.5em;
}

.delantera .logo-marca img {
	max-width: 80px;
}

.delantera .chip {
	max-width: 60px;
}

.delantera .label {
	font-size: .5em;
}

#numero,
#nombre,
.expiracion {
	font-size: 1em;
}


/* ---------- Tarjeta Trasera ----------*/
.tarjeta .trasera {
  padding: 3em 0;
  max-width: 520px;
}

.trasera .barra-magnetica {
	height: 50px;
}
	

.trasera .SecurityCode {
  padding: 1em;
  margin-bottom: 3.8em;
}

.trasera .SecurityCode p {
padding: 1.8em 2em;
font-size: 1em;
}
.checkbalance{
  padding:1em;
  flex-direction: row;
  font-size: 16px;
  height: 68vh;
  width: 80%;
}

.accountdetails{
  min-width:300px;
}
.balance{
  padding:3em 0;
  font-size: 18px;
  min-width:0px;

}.history{
  /* background-color: blue; */
  padding:2em 0;
  margin-top:1em;
  min-width:0px;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
  header{
    color:green;
    margin: 0;
    padding: 10px 50px;
    box-shadow: 0 5px 10px rgba(5, 117, 61, 0.2);
    font-size: 18px;
  }
  .bloque.activo {
    max-height: 60vh;
   }
   .digitinput{
    /* padding: 50px 50px; */
    margin: 0;
    border-radius: 4px;
  }
  .keypad button {
    width: 5em;
    height: 4em;
    font-size: 14px;
    /* margin: 10px; */
  
  }
  #display, #display2 {
    height: 4em;
    font-size: 14px;
  }
.subcontainer{
  margin: 0;
  padding: 0;
  min-height: 400px;
}
.menu{
  margin-top: 0px;
  height:60px;
  font-size: 12px;
}

.container .li.activo {
  padding: 10px 5px;
  transform: scale(1.5);
}

.inicio {
  /* background-color: lightskyblue; */
	padding: 0;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}


.inicio .bienvenida h2{
  /* background-color: lightgreen; */
  font-size:50px;
  min-width: 6em;
  
}

.inicio .instrucciones{
  background-color: rgba(213, 216, 209, 0.253);
  flex-direction: column;
  display: flex;
  margin: 0 2em;
  /* padding: 2em 5em; */
  font-size: 18px;
  text-align: center;
}

.inicio .instrucciones h5{
/* background-color: black; */
width: 150px;
}
.tarjeta {
	max-width: 1200px;
  min-width: 500px;
  margin:0 2em;
}
.tarjeta .row{
  margin: 5px;
}
.row label{
font-size: 1.5em;
}

.delantera .logo-marca img {
	max-width: 80px;
}

.delantera .chip {
	max-width: 60px;
}

.delantera .label {
	font-size: .5em;
}

#numero,
#nombre,
.expiracion {
	font-size: 1em;
}


/* ---------- Tarjeta Trasera ----------*/
.tarjeta .trasera {
  padding: 3em 0;
  max-width: 520px;
}

.trasera .barra-magnetica {
	height: 50px;
}
	

.trasera .SecurityCode {
  padding: 1em;
  margin-bottom: 3.8em;
}

.trasera .SecurityCode p {
padding: 1.8em 2em;
font-size: 1em;
}
.checkbalance{
  padding:6em;
  flex-direction: row;
  font-size: 16px;
  height: 68vh;
  width: 80%;
}

.accountdetails{
  min-width:300px;
}
.balance{
  padding:3em 0;
  font-size: 18px;
  min-width:0px;

}.history{
  /* background-color: blue; */
  padding:2em 0;
  margin-top:1em;
  min-width:0px;
}


}